
:root {
    --main-text-color: #1E2E36;
    --accent-color: #44C697;
    --backround-color: #FFFFFF;
    --second-text-color: #757575;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
}

.list{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    background-color: var(--backround-color);
    color: var(--main-text-color);
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size:18px ;
    line-height: 1.25;
    letter-spacing: 0.03em;

}

h1, h2, h3, h4, p, a {
    margin: 0;
    padding: 0;
}

.container{
    width: 1818px;
    padding-right: 51px;
    padding-left: 51px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    height: 60px;
    display: flex;
    outline: 1px solid var(--main-text-color);
    align-items: center;
}

.header-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-block_contacts{
    height: 40px;
    display: flex;
    
}

.header-social-networks{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 50px;
  
}

.icon-social-networks{
    color: var(--main-text-color);
   fill: var(--main-text-color);

   font-family: 'Proxima Nova', sans-serif;
   font-weight: 700;
   font-size: 18px;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;

}

.icon-social-networks:hover,
.icon-social-networks:focus
{
    fill: var(--accent-color);
    color: var(--main-text-color);
}


.header-heading{
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
    color: var(--main-text-color);
    margin-right: 5px;
    align-items: center;
    display: flex;
}

.header-contacts__block{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.header-contacts{
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 18px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;

    color: var(--main-text-color);
    fill: var(--main-text-color);

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;

}

.header-contacts:focus,
.header-contacts:hover{
    color: var(--accent-color);
    fill: var(--accent-color);
}

.header-nav_block{
    display: flex;
    align-items: center;
} 
.header-nav{
    display: flex;
    align-items: center;
   gap: 15px;
}

.header-nav_link{
    font-size: 18px;
    text-transform: uppercase;
    color: var(--main-text-color);
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    position: relative;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;


}

.header-nav_link:focus,
.header-nav_link:hover{
    color: var(--accent-color);
}

.header-nav_active::after{
    
    content: '';

    display: block;

  background-color: var(--accent-color);
   height: 3px;
   width: 100%;
   position: absolute;
}

.header-contacts__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    fill: var(--main-text-color);


    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
}

.header-contacts__icon:focus,
.header-contacts__icon:hover{
    fill: var(--accent-color);
}







.main-section{
    height: 105px;
    display: flex;
    align-items: center;
}

.main-section__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goods-list__block{
    display: flex;
    align-items: center;
    gap: 15px;
}

.goods-list__item{
    display: flex;
    align-items: center;
    gap: 3px;

}

.goods-list_link{
    display: flex;
    align-items: center;

    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--main-text-color);
    text-transform: uppercase;
}


.main-logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.main-logo__heading{
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: var(--main-text-color);
}

.main-logo__heading--f{
    color: var(--accent-color);
}

.order{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 200px;
    
}

.order__title{
    text-transform: uppercase;
    margin-right: 30px;
    margin-left: 5px;
}

.order__button{

    width: 278px;
    height: 51px;
   
    background-color: var(--accent-color);
    text-transform: uppercase;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;

}





