
:root {
    --main-text-color: #1E2E36;
    --accent-color: #44C697;
    --backround-color: #FFFFFF;
    --second-text-color: #FF1B1B;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
}

a{
    color: var(--main-text-color);
}

.list{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    background-color: var(--backround-color);
    color: var(--main-text-color);
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size:18px ;
    line-height: 1.25;
    letter-spacing: 0.03em;

}

h1, h2, h3, h4, p, a {
    margin: 0;
    padding: 0;
}

.container{
    width: 1818px;
    padding-right: 51px;
    padding-left: 51px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    height: 60px;
    display: flex;
    outline: 1px solid var(--main-text-color);
    align-items: center;
}

.header-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-block_contacts{
    height: 40px;
    display: flex;
    
}

.header-social-networks{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 50px;
  
}

.icon-social-networks{
    color: var(--main-text-color);
   fill: var(--main-text-color);

   font-family: 'Proxima Nova', sans-serif;
   font-weight: 700;
   font-size: 18px;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;

}

.icon-social-networks:hover,
.icon-social-networks:focus
{
    fill: var(--accent-color);
    color: var(--main-text-color);
}


.header-heading{
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
    color: var(--main-text-color);
    margin-right: 5px;
    align-items: center;
    display: flex;
}

.header-contacts__block{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.header-contacts{
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 18px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;

    color: var(--main-text-color);
    fill: var(--main-text-color);

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;

}

.header-contacts:focus,
.header-contacts:hover{
    color: var(--accent-color);
    fill: var(--accent-color);
}

.header-nav_block{
    display: flex;
    align-items: center;
} 
.header-nav{
    display: flex;
    align-items: center;
   gap: 15px;
}

.header-nav_link{
    font-size: 18px;
    text-transform: uppercase;
    color: var(--main-text-color);
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    position: relative;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;


}

.header-nav_link:focus,
.header-nav_link:hover{
    color: var(--accent-color);
}

.header-nav_active::after{
    
    content: '';

    display: block;

  background-color: var(--accent-color);
   height: 3px;
   width: 100%;
   position: absolute;
}

.header-contacts__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    fill: var(--main-text-color);


    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
}

.header-contacts__icon:focus,
.header-contacts__icon:hover{
    fill: var(--accent-color);
}

.header-contacts__text{
    display: flex;
    align-items: center;
}







.main-section{
    height: 105px;
    display: flex;
    align-items: center;
}

.main-section__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goods-list__block{
    display: flex;
    align-items: center;
    gap: 15px;
}

.goods-list__item{
    display: flex;
    align-items: center;
    gap: 3px;

}

.goods-list_link{
    display: flex;
    align-items: center;

    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--main-text-color);
    text-transform: uppercase;
}

.goods-list__item:hover,
.goods-list__item:focus{
    color: var(--accent-color);
    fill: var(--accent-color);
}


.main-logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.main-logo__heading{
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: var(--main-text-color);
    margin-right: 100px;
}

.main-logo__heading--f{
    color: var(--accent-color);
}

.order{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.order__title{
    text-transform: uppercase;
    margin-right: 30px;
    margin-left: 5px;
}

.order__button{

    width: 278px;
    height: 51px;
   
    background-color: var(--accent-color);
    text-transform: uppercase;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    border:3px solid var(--accent-color);
    border-radius: 3px;
   


    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;

}

.order__button:focus,
.order__button:hover{
    background-color: var(--backround-color);
    color: var(--accent-color);
    
}

.hero{
    display: flex;
    justify-content: center;
    position: relative;
    height: 785px;
    background-image: 
  url("../img/Rectangle137.jpg");
}
.hero-img{
    width: 1920px;
}


.face-description{
    width: 462px;
    height: 670px;
    background-color: #FFFFFF;
    top: 0;
    border-left: 15px solid var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-text-color);
}

.face-description__h2{
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 50px;
}

.face-description__h3{
    font-weight: 700;
    font-size: 36px;
    margin-bottom:10px ;
}

.face-description__text{
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}
.face-description__button{
    color: var(--backround-color);
    background-color: var(--accent-color);
    width: 209px;
    height: 51px;
    margin-bottom: 50px;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
    font-weight: 700;
    outline: 3px solid var(--accent-color);


    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
}

.face-description__button:focus,
.face-description__button:hover{
    color: var(--accent-color);
    background-color: var(--backround-color);
 
}

.face-description__switch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.face-description__number{
    font-size: 24px;
}

.face-description__number--main{
    font-size: 45px;
    font-weight: 700px;
    margin-bottom: 5px;
}


.face-description__switch--block{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
}

.face-description__switch--arrow{
    fill: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    border-radius: 50%;
    cursor: pointer;

    
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
}

.face-description__switch--arrow:hover,
.face-description__switch--arrow:focus{
    fill: var(--backround-color);
    background-color: var(--main-text-color);
    border-radius: 50%;
}

.right{
    transform: rotate(180deg);
}





.advantage{
    padding-top: 100px;

}

.advantage-headline{
    text-align: center;
    font-weight: 700;
    font-size: 60x;
    font-size: 48px;

}






.advantage-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.advantage-img{
    width: 586px;
    height: 350px;

}

.advantage-item{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.advantage-item__title{
    display: flex;
    flex-direction: column;
    z-index: 1;
    gap: 40px;
    width: auto;
    position: absolute;
    bottom: -80px;
    color: var(--backround-color);
    margin-left: 30px;
    cursor: pointer;

    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
}


.advantage-item__title:hover,
.advantage-item__title:focus{
    bottom: 0px;
    gap: 15px;
}

.advantage-item__heading{
    font-weight: 700;
    font-size: 36px;
    text-decoration: underline 3px solid var(--accent-color);
    text-underline-offset: 10px;
    
  
}

.advantage-item__text{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}



.product-categories{
    padding-top: 100px;
}


.advantage-block{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 51px;
}

.advantage__switch--block{
    position: absolute;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}




.advantage__switch--arrow{
    fill: var(--backround-color);
    border: 1px solid var(--backround-color);
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;


    
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
}

.advantage__switch--arrow:last-child
{
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: 15px;
}


.advantage__switch--arrow:hover,
.advantage__switch--arrow:focus{
    fill: var(--main-text-color);
    background-color: var(--backround-color);
    border-radius: 50%;
}



.product-categories__heading{
    text-align: center;
   font-size: 48px;
}
.product-categories__list{
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
}

.product-categories__item{
    fill: var(--main-text-color);
    border-bottom: 3px solid var(--backround-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;

}
.product-categories__item:focus,
.product-categories__item:hover{
    fill: var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
}

.product-categories__title{
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 10px;
}

.product-categories__cards{
    display: flex;
    gap: 50px 30px;
    margin-top: 87px;
    flex-wrap: wrap;
    justify-content: center;
}

.product-categories__img{
    max-width: 552px;
}

.product-categories__card{
    background-color: var(--backround-color);
    cursor: pointer;
    position: relative;

    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms

}

.product-categories__card:hover:hover,
.product-categories__card:hover:focus{
    background-color: var(--accent-color);
}

.product-categories__title{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    text-transform: uppercase;
    padding: 15px;
}

.product-categories__text--new{
    position: absolute;
    top: 10px;
    padding: 5px 15px 5px 15px;
    color: var(--backround-color);
    text-transform: uppercase;
    font-size: 18px;
    background-color: var(--main-text-color);
}

.product-categories__text--action{
    position: absolute;
    top: 48px;
    padding: 5px 15px 5px 15px;
    color: var(--backround-color);
    text-transform: uppercase;
    font-size: 18px;
    background-color: var(--second-text-color) ;
}

.product-categories__title--red{
    color: var(--second-text-color);
}

.product-categories__title--second{
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: line-through;
    color: #BCBDBB;
    margin-left: 10px;
}


.product-categories__button{
    text-transform: uppercase;
    color: var(--backround-color);

    font-size: 18px;
    border: none;
    background-color: var(--accent-color);
    border-radius: 3px;
    width: 190px;
    height: 51px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;


    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms

}

.product-categories__button:hover,
.product-categories__button:focus{
    color: var(--accent-color);
    border: 3px solid var(--accent-color);
    background-color: var(--backround-color);
}




.about-us{
    padding-top: 100px;
}


.about-us__heading{
    font-size: 48px;
   
   
}

.about-us__block{
    display: flex;
    margin-top: 50px;
    position: relative;
    justify-content: flex-end;
}

.about-us__img{
    display: flex;
    justify-content: flex-end;
    transform: translateX(51px);
}



.about-us__title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 791px;
    height: 475px;
    border-right: 15px solid var(--accent-color);
    left: 0;
    background-color: var(--backround-color);
    padding: 50px;
    transform: translateX(-51px);
    


    font-size: 18px;
   font-weight: 400;
   display: flex;
   flex-direction: column;
   gap:15px;
   position: absolute;
}

.about-us__title--green{
    color: var(--accent-color);
}


.heading-design{
    position: relative;
    display: flex;

}

.heading-design::before{
content: "";
display: block;
background-color: var(--accent-color);
left: 0;
width: 20px;
height: 50px;
position: absolute;
z-index: -1;
transform: translateX(-5px);
}

.heading-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.question{
    padding-top: 100px;
    padding-bottom: 109px;
}
.question__heading{
    font-size: 48px;
}

.question__block{
    display: flex;
    margin-top: 50px;
    position: relative;
    align-items: center;
}

.question__img{
    display: flex;
    transform: translateX(-51px);
}

.question-form__block{
    right: -51px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 513px;
    height: 457px;
    
    background-color: var(--backround-color);
    transform: translateX(51px);
    border-left: 15px solid var(--accent-color);
    padding: 50px 50px 50px 30px;
}


.question-form__text{
    font: size 18px;
    font-weight: 400;
    margin-top: 30px;
    width: 432px;
    
}

.question-form__tel{
   font-weight: 700;
   color: var(--main-text-color);
}

.question-form__button{
    color: var(--backround-color);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    background-color: var(--accent-color);
    border: 1px solid  var(--accent-color);
    border-radius: 3px;

    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms
}


.question-form__button:hover,
.question-form__button:focus{
    background-color: var(--backround-color);
    color: var(--accent-color);
}

.question-form__title{
    font-size: 36px;
}

.question-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    width: 100%;
}

.question-form__field{
    width: 100%;
    height: 50px;
    border: 1px solid var(--main-text-color);
    border-radius: 3px;
    padding-left: 15px;
    outline: none;

    font-size: 18px;
    font-weight: 400;

    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms
}

.question-form__field:active, 
.question-form__field:focus,
.question-form__field:hover{
    border: 1px solid var(--accent-color);
  
}
.footer{
    background-color: var(--main-text-color);
 
}

.footer-block{
    display: flex;
    justify-content: center;
    position: relative;
}




.footer__img{
    transform: translateX(51px);
    object-fit:cover;
    max-height: 520px;
}


.footer-logo{
    display: flex;
    align-items: center;
    gap: 15px;
    fill: var(--backround-color);
    margin-top: 50px;
}

.footer-logo__heading{
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: var(--backround-color);
    margin-right: 100px;
}

.footer-logo__heading--f{
    color: var(--accent-color);
}

.footer-nav{
    display: flex;
    gap: 25px;
    margin-top: 50px;

    font-size: 16px;
    color: var(--backround-color);
    text-transform: uppercase;
}

.footer-nav__goods{
    display: flex;
    gap: 40px;

    font-size: 14px;
    color: var(--backround-color);
    text-transform: uppercase;
}




.footer-nav__block{
    display: flex;
    flex-direction: column;
    gap: 15px
}

.footer-text__green{
    color: var(--accent-color);
}


.footer-inf__text{
    color: var(--backround-color);
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}

.footer-inf__text h3{
    margin-top: 30px;
}

.footer-inf__block{
    display: flex;
    align-items: center;
}
.footer-inf__block:last-child{
    align-items:flex-start;
}

.footer-icon{
    fill: var(--backround-color);
    margin-right: 7px;

    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms
}

.footer-icon:focus,
.footer-icon:hover{
    fill: var(--accent-color);
}

.footer-inf{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-icon__network{
    display: flex;
}

.footer-furniture{
    font-size: 14px;
    margin-top: 130px;
   text-transform: none;
   font-weight: 400;
}

.footer-gl{
    font-size: 14px;
   font-weight: 400;
   font-family: 'Cuprum', sans-serif;
   font-stretch: 33%;
  

}

.footer-icon__up{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--accent-color);
    outline: 0px solid var(--accent-color);
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 0;

    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms
}

.footer-icon__up:hover,
.footer-icon__up:focus{
    outline: 3px solid var(--backround-color);
}

.footer-gl__block{
    display: flex;
    margin-top:110px;
    
}













